body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f7f7f7; */
    background-color: #fff;

    font-family: Arial, sans-serif;
}

.home-wrapper {
    width: 1000px;
    min-height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f7f7f7; */
    background-color: #fff;

    box-sizing: border-box;
}

.home-container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    margin-bottom: 10px;
   
    width: 50%;

}

.navbar ul {
    list-style: none;
    padding: 0;
    margin:10px;
    margin-bottom: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;

    margin: 0;

    width: 100%;

}

.navbar ul li {
    margin: 0, 10px;
    margin-top: 10px;
    background-color: #7b00ffd7;
    border-radius: 10px;
    width: 100%;
}

.navbar ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

.content {
    text-align: center;
}

h2, h3 {
    color: #333;
}

.user-info {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 20px;
    text-align: left;
}

.user-info h2, .user-info h3 {
    color: #333;
    margin-bottom: 10px;
}

.user-info p {
    margin: 5px 0;
}

.user-info strong {
    color: #333;
}

.user-info-section {
    margin-bottom: 20px;
}

.user-info-section h3 {
    margin-top: 20px;
}
