/* Home.css */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.home-wrapper {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.home-container {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
}

.navbar {
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #7b00ffd7;
    border-radius: 5px;
}

.navbar ul li {
    margin: 0;
}

.navbar ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

.content {
    text-align: center;
}

h2, h3 {
    color: #333;
}
