body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #1fbeb6; */
    font-family: Arial, sans-serif;
}
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:#fff;
}

.login-container {
    width: 400px;
    padding: 20px;
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    
}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container form {
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: #fff;
}


.login-container label {
    font-weight: bold;
    text-align: left;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px);
}

.login-container button[type="submit"] {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7b00ffd7;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
    background-color: #0056b3;
}
